# Exclude everything
/*

# Specific includes

## Editorconfig
!.editorconfig

## Build System/Scripts
!/.config
!/global.json
!NuGet.Config
!Directory.Build.props
!Directory.Build.targets
!build.sh
!build.ps1
!build.cmd

## Markdowns
!*.md
!LICENSE

## important Git files
!.gitmodules
!.gitignore
!.gitattributes
!.git-blame-ignore-revs

## GitHub specific
!.github/

## Solution
!MoreCompany.sln

### MoreCompany Project
!/MoreCompany
/MoreCompany/[Bb]in
/MoreCompany/[Oo]bj
/MoreCompany/[Dd]ist

# Explicit exceptions/ignores
**.user
!**.template.*.user
